.paybtn{
    padding: 10px;
    width: 100px;
    border:none;
    background-color:brown;
    margin-left: 47%;
    font-size: large;
    color:white;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 12px;
}

.paybtn:hover{
    box-shadow:0px 3px 5px 2px gray;
    cursor:pointer;
}

.closebtn{
    padding:8px;
    background-color: dodgerblue;
    border: none;
    color: white;
    font-size: large;
    border-radius: 10px;
    width: 80px;
    margin-left:120px;
}

.closebtn:hover,.submitbtn:hover{
    box-shadow:0px 2px 2px 1px #5F7464;
    cursor:pointer;
}

.form{
    padding: 10px;
    width:300px;
}

.cardnum,.cardname,.cardcvv,.carddate{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.inputfield{
    padding:5px;
    margin-top:4px;
    font-size: large;
    width: 240px;
}

.submitbtn{margin-left: 110px;
    padding:8px;
    background-color:dodgerblue;
    border: none;
    color: white;
    font-size: large;
    border-radius: 10px;
    width: 80px;
}
    

