.empty-cart{
    text-align: center;
    margin-top: 50px;
}
 body{
     background-color:white;}

 .btn{padding: 10px;
width:200px;
font-size: larger;
color: white;
background-color: brown;
border: none;
border-top-left-radius: 30px;
border-bottom-right-radius:30px;
cursor: pointer;
box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}   

